################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/3Step/3Step/obj/publish/win-x86
/3Step/3Step/obj/Release/net5.0-windows
/3Step/3Step/Properties/PublishProfiles
/3Step/3Step/bin/Release/net5.0-windows
